.contact-header {
  h3 {
    text-align: left;
    margin-top: 90px;
    margin-left: 40px;
    font-size: 22px;
  }
  p {
    margin-top: 90px;

    }
  .contIcon
  { margin-top: 90px;

    i {

      margin-top: 90px;
      color: $base-white;
      line-height: 50px;
      text-align: center;
      vertical-align: middle;
      font-weight: 200;
    }
  }
}